@charset "UTF-8";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  font-weight: 600;
}

.header .logo {
  display: flex;
  align-items: center;
  padding: 5px;
  align-self: start;
}

.header .logo a:nth-child(even) {
  margin-left: 10px;
}

.header .logo a img {
  object-fit: contain;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header .nav__link {
  text-align: center;
  margin-right: calc(40rem / 16);
  padding: 20px;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.header .nav__link:last-child {
  margin-right: 0;
}

.header .nav__link:hover {
  background-color: rgba(51, 51, 51, 0.05);
}

.header .nav__search {
  padding: 5px 5px 3px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  transition: background-color 0.2s linear;
}

.header .nav__search:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.header .burger {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #ff9900;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.header .burger .top,
.header .burger .middle,
.header .burger .bottom {
  width: 21px;
  height: 3px;
  background-color: black;
  margin-bottom: 4px;
  transition: background-color 0.3s linear;
}

@media (max-width: 1100px) {
  .nav__link {
    display: none;
  }
  .nav__search {
    display: none !important;
  }
  header.header nav.nav .burger {
    display: flex;
  }
}

/* на случай, если кто-то
 додумается прожать бургер и увеличить экран*/
@media (min-width: 1100px) {
  .nav__link {
    display: inline !important;
  }
}

@media (max-width: 370px) {
  header .logo img[alt="circul"] {
    display: none;
  }
}

@media (max-width: 360px) {
  .wrapper {
    padding: 0 15px !important;
  }
}
