@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.header .logo {
  display: flex;
  align-items: center;
  padding: 5px;
}

.header .logo a:nth-child(even) {
  margin-left: 10px;
}

.header .logo a img {
  object-fit: contain;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header .nav__link {
  text-align: center;
  margin-right: calc(40rem / 16);
  padding: 20px;
  text-decoration: none;
  color: #333333;
  transition: background-color 0.2s linear;
}

.header .nav__link:last-child {
  margin-right: 0;
}

.header .nav__link:hover {
  background-color: rgba(51, 51, 51, 0.05);
}

.header .nav__search {
  padding: 5px 5px 3px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  transition: background-color 0.2s linear;
}

.header .nav__search:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
}

.wrapper,
.container {
  width: 1920px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
